body{
    font-family:sans-serif;
    margin:0;
    padding:0;
    background-color:#f9f7cf;
    width:100%;
 
}
.img{
    width:450px;
    padding:0px;
    margin:auto;
    text-align:center;
    margin-top:5%;
    margin-left:10%;
    border-radius:50%;
    width:200px;
    height:200px;
}
.intro{
    width:450px;
    margin-left:10%;
}
.description {
    width:450px;
    margin-left:10%;
    padding:20px 0px 20px 0px;
    color:green;
    text-decoration:none;
    font-size :20px;
    display: inline;

}
.description ul li a:hover{
    color:rgb(8, 15, 109);
    background-color: #16697a;
    box-shadow: 0 0 10px rgba(138, 207, 228, 0.1),


}
.description li{
    list-style-type: none;
    margin-top:15px;
    text-decoration:none;
}
.desription  ul li a{
    display:inline;
    text-decoration:none;
}
.footer{
    margin-left:10px;
    font-style: italic;
}
.span {
  content: "\00A9";
}
.img2{
    margin-left:60%;
    position:absolute;
    right:40px;
    left:0px;
    top:200px;
    clear: both;
    border-radius:7%;
    width:500px;
    height:500px;
    }

.portfolio{
   width:250px;
    margin-left:37%;
    position:absolute;
    right:100px;
    left:30px;
    top:200px;
    text-align:left;   
}
.portfolio h2{
    font-size: 40px;
    color:green;
    font-style: bold;
}
.portfolio h4{
    font-style:italic;
}
.img::after{
    content: "";
    clear: both;
}
.main{
    width:auto;
    padding:0;
    margin:0;

    background-color:#f2dcbb;
}
.about{
    width:40%;
    padding:20px;
    margin:20px;
}
.about h2{
    color:green;
    text-decoration: underline;
    text-align:center;
}
.projects{
    width:40%;
    padding:20px;
    margin-left :50%;
    position:absolute;
    top:830px;
}
.projects h2{
    color:green;
    text-decoration: underline;
    text-align:center;
}
.education{
    width:30%;
    padding:20px;
    margin:20px;
}
.education h2{
    color:green;
    text-decoration: underline;
    text-align:center;
}
.exprience{
    width:30%;
    padding:20px; 
    margin:20px;
    margin-left :50%;
    position:absolute;
    top:1050px;
}
.exprience h2{
    color:green;
    text-decoration: underline;
    text-align: center;
    
}
.contacts{
    padding:0;
    margin:40px;
    text-align:center;
}
.contacts h2{
    color:white;
    text-decoration: underline;
    text-align:center;
}
.contacts li{
    text-decoration:none;
    list-style: none;
}
hr{
    color:rgb(60, 70, 56);
    border:2px solid;
    margin-top:20px;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 10px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .footer{
      text-align:center;
  } 
  .footer li a{
      display:inline block;

  } 
  .footer li{
      list-style-type:none;
  }
  .footr{
      background-color:#534e52;

  }
